.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.header {}

.header-nav {}

.header-nav-a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
}

.header-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-list {
    list-style: none;
}

.header-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.header-list-item:hover,.header-list-item:active,.header-list-item:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-adress-list {
    list-style: none;
}

.header-adress-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
        
}

.header-adress-list-item:hover,
.header-adress-list-item:focus {
    color: #404bbf;
}




.main {

}

.hero-subtitle {
    background: #2e2f42;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
}  

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background: #404bbf;
}






.section-subtitle {

}

.section-title {

}

.section-list {
    list-style-type: none;
}

.section-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.section-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}




.section-ourteam {
    background: #f4f4fd;
}

.section-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.ourteam-list {
    list-style-type: none;
}

.ourteam-list-item {
    background-color: #fff;

}

.ourteam-img {

}

.ourtime-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.ourtime-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}





.section-ourportfolio {

}

.ourportfolio-list {
    list-style-type: none;
}

.ourportfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.ourportfolio-list-item {

}

.ourportfolio-img {

}

.ourportfolio-list-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.ourportfolio-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}




.footer {
    background: #2e2f42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
}

.footer-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}





